body{
 
background-image:url(Imagenes/boca.jpg);
background-repeat: no-repeat;
background-size: 100%;
#inicio{
padding: 10px;
    color: yellow;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgba(32, 35, 234, 0.5);
}
a{

    color:blue;
    text-decoration: none;
    background-color: rgba(434,234,234,0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
margin: auto 10px;
}
a:hover{
    font-size:25px;
}

.contenedor{
    display:flex;

    align-items: center;
    justify-content: center;

   
    .navegacion{
      
        display: flex;
       

        align-items:center;
      
        justify-content: center;
       

        width: 500px;
    height:60px;
    
    background-image: url(Imagenes/Div.jpeg);
    background-repeat: no-repeat;
 
     
.estilo :hover{
    background-color:gold;
}
        }
 }
}
.body2{
#articulo{
text-align: center;
text-decoration: underline; 

color: yellow;

}
.contenedor2{
    display: flex;
   justify-content: space-between;
   margin-top: 100px;
.historia{
  
    height: 200px;
    width: 200px;
    
    background-image: url(Imagenes/contenedo\ 1.jpg);
    h2{
        color: yellow;
       background-color:rgba(32, 35, 234, 0.5) ;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
   .articulos{ height: 200px;
    width: 200px;
    border: 1px solid;
    background-image: url(Imagenes/contenedor\ 2.png);
    h2{

        color: yellow;
        background-color:rgba(32, 35, 234, 0.5) ;
         text-align: center;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    }
   .entradas{ height: 200px;
    width: 200px;
    border: 1px solid;
background-image: url(Imagenes/contenedor\ 3.jpg);
h2{

    color: yellow;
    background-color:rgba(32, 35, 234, 0.5) ;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
   .noticias{ height: 200px;
    width: 200px;border: 1px solid;
background-image: url(Imagenes/contenedor\ 4.jpg);
h2{

    color: yellow;
    background-color:rgba(32, 35, 234, 0.5) ;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
   .partidos{ height: 200px;
    width: 200px;border: 1px solid;
    background-image: url(Imagenes/contenedor\ 5.jpg);
    h2{

        color: yellow;
        background-color:rgba(32, 35, 234, 0.5) ;
         text-align: center;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   }

}
}
.body3{
    #formulario{
        
        text-align: center;
        text-decoration: underline; /* Subraya el texto */
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        color: yellow;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    h1{ 
        text-align: center;
       
        box-shadow:0px 0px 10px 5px blue;
   
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        color: yellow;}
   

}
.contenedor3{
   
display: flex;
align-items: center;
justify-content: center;



.form{
   
    padding-bottom: 10px;
   padding-top: 10px;
   background-color: rgba(255, 255, 255, 0.3);
   border: 1px solid;
    width: 500px;
    
    text-align: center;
   color: azure;

  
}


}
}
.colorRojo{
    background-color: black;
    margin-top:10px ;
display: block;
text-decoration: none;
color: red;

}
.letra{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color:yellow;
    font-size: 20px;
   
}
#contenido {
    color: black;
    margin-top: 20px;
    height: 100px;
    width: 478px;
    justify-content: center;
    align-items: center;
    background-color: #e6f7ff;
    border: 1px solid #5cadff;
    padding: 10px;
 
}
.input{
    background-color: white;
    
}
.input:hover{
   
    background-color:rgba(234, 232, 203, 0.5) ;
}


